@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800');

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

a, a:visited {
  list-style-type: none;
}

.StripeCheckout {
  background-color: pink !important;
  background: none !important;
  box-shadow: none !important;
}

.StripeCheckout span {
  background-image: none !important;
  background-color: #F05027;
}
