@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800');

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  font-size: 12pt;
  color: #58595B; /*style guide gray */
}

a, a:visited {
  color: #152D53; /*style guide deep navy */
}

.button-shadow {
  box-shadow: 2px 2px 3px #58595B;
}

.start-hover {
  background-color: #4DCABD !important;
}

.donation-hover {
  background-color: rgb(236, 120, 91) !important;
}

.breadcrumb a:hover {
  color: white; /*affects breadcrumb links */
}

.StripeCheckout {
  background-color: pink !important;
  background: none !important;
  box-shadow: none !important;
}

.StripeCheckout span {
  background-image: none !important;
  background-color: #F05027;
}
