@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800');

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  font-size: 12pt;
  color: #58595B; /*style guide gray */
}

a, a:visited {
  color: #152D53; /*style guide deep navy */
}

.button-shadow {
  box-shadow: 2px 2px 3px #58595B;
}

.start-hover {
  background-color: #4DCABD !important;
}

.donation-hover {
  background-color: rgb(236, 120, 91) !important;
}

.breadcrumb a:hover {
  color: white; /*affects breadcrumb links */
}


/* button style and background color for filters */
.buttonIcon  {
  width: 100px;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.buttonIconTopic {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  color: white;
  box-sizing: border-box;
  padding: 20px;
}

.animalsColor { background-color: #00B8A6;}
.environmentColor { background-color: #4AB85C;}
.foodColor { background-color: #F05027;}
.generalColor {  background-color:  #19A9E1;}
.industryColor { background-color:  #E2C137;}
.sportsColor { background-color: #152D53;}

.ranking_quantity#happiest_countries {
  visibility: hidden;
}

.fernanda {
  background-color: #4AB85C
}
.mana {
  background-color: #F05027
}
.tomo {
  background-color: #19A9E1
}
.jenn {
  background-color: #00B8A6
}
.marlowe {
   background-color: #152D53
}

.member {
  flex: 0 0 100%;
  min-width: 130px;
  padding: 0 1.5%;
  margin: 50px .5%;
  color: white;
}

@media screen and (min-width: 600px) {
  .member {
    flex: 0 0 40%;
  }
}

@media screen and (min-width: 1000px) {
  .member {
    flex: 1 0 16%;
  }
}

/* fix font size for chart text once screen is bigger than tablet (1024px) */
@media screen and (min-width: 1024px) {
  .titleStyle, .chart-header h1 {
    font-size: 24px !important;
  }

  .entity-name span, .ranking_quantity {
    font-size: 12px !important;
  }

  .order span, .entity-info {
    font-size: 13px !important;
  }

  .entity-name h1 {
    font-size: 21px !important;
  }
}

/* make boxes 1024px when screen is bigger than 1100px */
@media screen and (min-width: 1100px) {
  .chartOuterDiv, .category-filter, .topic-filter, .main, .contactOuterDiv, .donation {
    max-width: 1024px !important;
  }
}

/*  smartphone hprozontal mode*/
@media only screen and (min-device-width: 411px)
                   and (max-device-width: 823px)
                   and (orientation: landscape) {
                  .header ul {
                    position: relative !important;
                    margin: 0 !important;
                    }
                  .breadcrumb {
                    position: relative !important;
                    margin-top: -70px !important;
                  }

}
