body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.StripeCheckout {
  background-color: pink !important;
  background: none !important;
  box-shadow: none !important;
}

.StripeCheckout span {
  background-image: none !important;
  background-color: #F05027;
}
